---
import '../styles/global.css';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import logo from '../assets/logo.png';
import { steps, hero, actions, title } from "../data/homepage.json";
import team from "../data/team.json";
import type { ImageMetadata } from 'astro';
const images = import.meta.glob<{ default: ImageMetadata }>('../assets/process/*.png')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" sizes="any">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-b from-slate-50 via-slate-100 to-slate-200 text-dark font-sans min-h-screen flex flex-col">
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto px-4 py-6 flex justify-between items-center">
        <div class="flex items-center space-x-3">
          <Image src={logo} alt="TestLens logo" class="w-8 h-8 md:w-10 md:h-10" />
          <h1 class="text-2xl font-bold">TestLens</h1>
        </div>
        <div class="flex items-center space-x-3">
          <a href="https://github.com/testlens-app" title="GitHub" target="_blank" rel="noopener noreferrer">
            <Icon name="github" class="w-6 h-6"/>
          </a>
        </div>
      </div>
    </header>

    <main class="max-w-5xl mx-auto px-4 py-8">
      <section class="relative mb-24 bg-gradient-to-r from-blue-400 to-sky-200 text-white rounded-xl pt-8 pl-8 pr-4 pb-4">
        <div class="flex flex-col md:flex-row">
          <div class="mb-6 flex-2/5">
            <h2 class="text-4xl font-extrabold mb-12">{hero.title}</h2>
            <p class="text-xl mb-12 text-justify">{hero.description}</p>
            <button data-signup-trigger class="bg-blue-600 text-white px-6 py-3 rounded-lg text-lg hover:bg-blue-700 transition cursor-pointer">
              Get Early Access
            </button>
          </div>
          <div class="flex-3/5">
            <Image src={import('../assets/hero.png')} alt="TestLens Bot in Action" />
          </div>
        </div>
      </section>

      <section class="space-y-10">
        {steps.map((step, index) => (
          <div class="flex flex-col md:flex-row items-center gap-8">
            <div class="flex-1">
              <h3 class="text-2xl font-semibold mb-3 text-dark">{index + 1}. {step.title}</h3>
              <p class="text-xl">{step.description}</p>
            </div>
            <div class="flex-1">
              <Image src={images['../assets/process/' + step.image]()} alt={step.alt} />
            </div>
          </div>
        ))}

      <section class="mt-10 text-center">
        <button data-signup-trigger class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg text-lg transition cursor-pointer">
          Get Early Access
        </button>
        <p class="text-muted mb-6 mt-4">
          {actions.join}
        </p>
      </section>

      <section class="mt-10 text-center">
        <h3 class="text-3xl font-bold mb-4 text-dark">Team</h3>
        <p class="text-muted mb-6 mt-4">
          Brought to you by leading developer productivity experts.
        </p>
        <div class="flex flex-col md:flex-row gap-8 align-top">
          {team.map(member => (
              <div class="bg-white shadow-md rounded-2xl p-4 flex-1 space-x-6 hover:shadow-lg">
                <div class="flex space-x-4">
                  <img class="w-14 h-14 rounded-full object-cover border-2 border-blue-600"
                       src={member.picture} alt={`${member.name} Profile Picture`}/>
                  <div>
                    <h2 class="text-lg font-semibold text-gray-800">{member.name}</h2>
                    <div class="flex space-x-4 mt-2">
                      {member.socialLinks.github && (
                          <a href={member.socialLinks.github} title="GitHub" target="_blank">
                            <Icon name="github" class="w-6 h-6 text-gray-600 hover:text-gray-800"/>
                          </a>
                      )}
                      {member.socialLinks.mastodon && (
                          <a href={member.socialLinks.mastodon} title="Mastodon" target="_blank">
                            <Icon name="mastodon" class="w-6 h-6 text-gray-600 hover:text-purple-800"/>
                          </a>
                      )}
                      {member.socialLinks.linkedin && (
                          <a href={member.socialLinks.linkedin} title="LinkedIn" target="_blank">
                            <Icon name="linkedin" class="w-6 h-6 text-gray-600 hover:text-blue-800"/>
                          </a>
                      )}
                      {member.socialLinks.youtube && (
                          <a href={member.socialLinks.youtube} title=">ouTube" target="_blank">
                            <Icon name="youtube" class="w-6 h-6 text-gray-600 hover:text-blue-800"/>
                          </a>
                      )}
                    </div>
                  </div>
                </div>
                <p class="flex-1 text-gray-600 mt-2 text-sm text-justify">{member.bio}</p>
              </div>
          ))}
        </div>
      </section>
    </main>

    <footer class="bg-white">
      <div class="max-w-7xl mx-auto px-4 py-8 text-center text-sm text-muted">
        &copy; 2025 TestLens. All rights reserved.
      </div>
    </footer>

    <div id="sign-up-form" class="fixed inset-0 bg-white/30 backdrop-blur-sm flex items-center justify-center z-50 invisible">
      <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full">
        <h2 class="text-xl font-bold mb-2">Get Early Access</h2>
        <p class="text-gray-600 mb-4 text-sm">
          {actions.contact}
        </p>
        <form
          name="sign-up-form"
          method="POST"
          netlify-honeypot="bot-field"
          data-netlify="true"
        >
          <p class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </p>
          <label class="block mb-2">
            <span class="text-gray-700">Email</span>
            <input
              type="email"
              name="email"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
              placeholder="you@example.com"
            />
          </label>
          <div class="mt-4 flex justify-end gap-2">
            <button
              onclick="toggleSignupForm()"
              type="button"
              class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 cursor-pointer"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 cursor-pointer"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>

    <script is:inline>
      document.querySelectorAll('[data-signup-trigger]').forEach(button => {
        button.addEventListener('click', toggleSignupForm);
      });

      function toggleSignupForm() {
          document.getElementById('sign-up-form').classList.toggle("invisible");
      }
    </script>
  </body>
</html>
