---
import { Image } from "astro:assets";
const { number, title, description, image, alt } = Astro.props;
---

<div class="flex flex-col items-center gap-4 sm:gap-8 md:flex-row">
  <div class="flex-1">
    <h3 class="text-dark mb-3 text-xl font-bold sm:text-2xl">
      <span
        class="mb-2 block flex aspect-square h-10 rounded-full bg-green-600 sm:h-15"
        style="font-variation-settings: 'ROND' 50;"
      >
        <span class="m-auto font-mono text-2xl text-white sm:text-4xl"
          >{number}</span
        >
      </span>
      <span style="font-variation-settings: 'slnt' -5, 'ROND' 50;">{title}</span
      >
    </h3>
    <p class="text-lg sm:text-xl">{description}</p>
  </div>
  <div class="-mr-2 flex-1 sm:-mr-5">
    <Image src={image} alt={alt} />
  </div>
</div>
