---
import { getBlogParams } from "../utils/params";
const { blog } = Astro.props;

const blogParams = getBlogParams(blog);
const url = `/blog/${blogParams.path}`;
---

<a href={url} class="block">
  <li
    class="blog-post bg-background group border-default flex flex-col items-start rounded-lg border p-5 shadow-md transition-shadow hover:shadow-lg md:flex-row"
  >
    <div class="flex-1 pr-3">
      <h3
        class="group-hover:text-primary pt-1 text-2xl font-semibold transition-colors"
      >
        {blog.data.title}
      </h3>
      <time
        datetime={new Date(blog.data.pubDate).toLocaleDateString()}
        class="text-offset mt-3 block text-sm"
      >
        {
          new Date(blog.data.pubDate).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
      <p class="text-offset mt-4 line-clamp-2">{blog.data.description}</p>
    </div>
    {
      blog.data.image && (
        <div class="mt-4 flex h-50 w-full items-center justify-center overflow-hidden rounded-lg md:w-1/4 lg:mt-1">
          <img
            src={blogParams.image}
            alt={blog.data.title}
            class="max-h-full max-w-full rounded-lg object-contain transition-transform duration-300 md:group-hover:scale-105"
          />
        </div>
      )
    }
  </li>
</a>
