---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/google-sans-flex/slnt";
import "@fontsource-variable/google-sans-code";

interface Props {
  pagetitle: string;
  description?: string;
  image?: string;
  type?: string;
}

const { pagetitle, description, image, type = "website" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="fediverse:creator" content="@testlens@mastodon.social" />
    <link rel="icon" href="/favicon.png" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={pagetitle} />
    <meta
      property="og:description"
      content={description ? description : pagetitle}
    />
    {image && <meta property="og:image" content={image} />}
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content={type} />

    <title>{pagetitle}</title>
  </head>
  <body
    class="text-dark flex min-h-screen flex-col bg-gradient-to-b from-slate-50 via-slate-100 to-slate-200 font-sans"
  >
    <Header />
    <main class="mx-auto flex-grow px-4 py-8 lg:w-5xl">
      <slot />
    </main>
    <Footer />
  </body>

  <script is:inline>
    document.querySelectorAll("[data-signup-trigger]").forEach(button => {
      button.addEventListener("click", toggleSignupForm);
    });

    function toggleSignupForm(event) {
      document.getElementById("sign-up-form").classList.toggle("invisible");
      event.preventDefault();
    }
  </script>
</html>
